@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fundo-login{
        background-color: beige;
        flex:1;
        display: flex;
        align-items: stretch;
    }
</style>

<div class="fundo-login">
    <div class="banner-projeto">
        
    </div>
    <div class="row login-area"> 
        <div class="col-md" style="background-color: yellow; ">
            <p>Descrição da aplicação</p>
        </div>
        <div class="col-md" style="background-color: blue; max-width:400px">
            <p>Área de campos de login </p>
        </div>
    </div>
</div>


