body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248) !important;
    flex-direction: column;
    /* Definir fonte */
    height: 100vh;

}

